// primary colors
$accent-color: hsl(158, 36%, 37%);
$background-color: hsl(30, 38%, 92%);
$header-color: hsl(212, 21%, 14%);
$body-color: hsl(228, 12%, 48%);
$card-color: hsl(0, 0%, 100%);

// fonts
$ff-body: "Montserrat", sans-serif;
$ff-header: "Fraunces", serif;

$fw-normal: 500;
$fw-bold: 700;

$fs-body: 14px;
